{% extends 'base.html' %}

{% block head %}
<!-- <link rel="icon" href="static/images/heartUs.png" type="image/png"> -->
<title>About Us!</title>

<!-- <link rel="icon" href="static/images/heartUs.png" type="image/png"> -->
{% endblock %}


{% block body %}


<div class="aboutUsDiv">

    <div class="sujoy">
        <!-- Profile-1 DIV Startes Here -->
        <div class="imageDiv">
            <img src="static/images/joy_profile.jpeg" alt="profile1" id="profile1">
        </div>
        <div class="textDiv">
            <table class="aboutUsTable1">
                <tr>
                    <td>Name: </td>
                    <td>Sujoy paul dakkumalla</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>sxd42520@ucmo.edu</td>
                </tr>
                <tr>
                    <td>Student ID:</td>
                    <td>700744252</td>
                </tr>
                <tr>
                    <td style="vertical-align:top;">Contributions:</td>
                    <td style="padding-left: 1.3rem;">
                        <ul class="contributionList">
                            <li>Designed the template for Web-site,</li>
                            <li>Configured Flask Rest API framework to render HTML pages</li>
                            
                        </ul>
                    </td>
                </tr>
            </table>


        </div>

    </div> <!-- Profile-1 DIV Ends Here -->



    <div class="kaushik">
        <!-- Profile-2 DIV Startes Here -->
        <div class="imageDiv">
            <img src="static/images/krushitha2.jpg" alt="profile2" id="profile2">
        </div>
        <div class="textDiv">
            <table class="aboutUsTable2">
                <tr>
                    <td>Name: </td>
                    <td>Sai Kaushik Peesari</td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td>sxp42750@UCMO.EDU</td>
                </tr>
                <tr>
                    <td>Student ID:</td>
                    <td>700744275</td>
                </tr>
                <tr>
                    <td style="vertical-align:top;">Contributions:</td>
                    <td style="padding-left: 1.6rem;">
                        <ul class="contributionList">
                            <li>AboutUs Page design & implementation</li>
                            <li>Database & it’s Table creation</li>
                            
                        </ul>
                    </td>
                </tr>
            </table>


        </div>
    </div> <!-- Profile-2 DIV Ends Here -->



    <div class="umadevi">
        <!-- Profile-3 DIV Startes Here -->
        <!-- style="background-color: orange;" -->
        <div class="imageDiv">
            <img src="static/images/Srikar.jpg" alt="profile3" id="profile3">
        </div>
        <div class="textDiv">
            <table class="aboutUsTable3">
                <tr>
                    <td>Name: </td>
                    <td>Uma Devi Bontha</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>uxb79090@ucmo.edu</td>
                </tr>
                <tr>
                    <td>Student ID:</td>
                    <td>700737909</td>
                </tr>
                <tr>
                    <td style="vertical-align:top;">Contributions:</td>
                    <td style="padding-left: 1.3rem;">
                        <ul class="contributionList">
                            <li>Home page design and implementation</li>
                            <li>Side-bar Implementation</li>
                            <li></li>
                        </ul>
                    </td>
                </tr>
            </table>


        </div>
    </div> <!-- Profile-3 DIV Ends Here -->


    <div class="pranavi">
        <!-- Profile-3 DIV Startes Here -->
        <!-- style="background-color: orange;" -->
        <div class="imageDiv">
            <img src="static/images/Srikar.jpg" alt="profile3" id="profile3">
        </div>
        <div class="textDiv">
            <table class="aboutUsTable3">
                <tr>
                    <td>Name: </td>
                    <td>Pranavi Guttikonda</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>pxg42580@ucmo.edu</td>
                </tr>
                <tr>
                    <td>Student ID:</td>
                    <td>700744258</td>
                </tr>
                <tr>
                    <td style="vertical-align:top;">Contributions:</td>
                    <td style="padding-left: 1.3rem;">
                        <ul class="contributionList">
                            <li>Home page design and implementation</li>
                            <li></li>
                            <li></li>
                        </ul>
                    </td>
                </tr>
            </table>


        </div>
    </div> <!-- Profile-4 DIV Ends Here -->


    <div class="vineeth">
        <!-- Profile-3 DIV Startes Here -->
        <!-- style="background-color: orange;" -->
        <div class="imageDiv">
            <img src="static/images/Srikar.jpg" alt="profile3" id="profile3">
        </div>
        <div class="textDiv">
            <table class="aboutUsTable3">
                <tr>
                    <td>Name: </td>
                    <td>Vineeth Venkatratna</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>xxxxx@UCMO.EDU</td>
                </tr>
                <tr>
                    <td>Student ID:</td>
                    <td>xxxxxxx</td>
                </tr>
                <tr>
                    <td style="vertical-align:top;">Contributions:</td>
                    <td style="padding-left: 1.3rem;">
                        <ul class="contributionList">
                            <li>Home page design and implementation</li>
                            <li></li>
                            <li></li>
                        </ul>
                    </td>
                </tr>
            </table>


        </div>
    </div> <!-- Profile-5 DIV Ends Here -->

</div>





<!-- <footer class="footer general_footer">
    <div class="container">
        <p class="text-muted">Developed By:::
            <a href="#"> Sujoy Paul</a></p>
    </div>
</footer> -->


{% endblock %}