{% extends 'base.html' %}

{% block head %}
<!-- <link rel="icon" href="static/images/heartUs.png" type="image/png"> -->
<title>Home Page</title>

<!-- <link rel="icon" href="static/images/heartUs.png" type="image/png"> -->
{% endblock %}


{% block body %}

<div class="mainHomeClass" id="mainHomeId">
    <h1 style="text-align: center">Welcome to Home Page!</h1>
</div>



<!-- <footer style="position: fixed;">
    <div class="center grey-text">Developed By: Sujoy Paul</div>
</footer>  -->

{% endblock %}