.plot_div {
  text-align: center;
  background: white;
}

#filterBtnId {
  width: 6.7rem;
  /* float: right; */
  background-color: #589c06;
  border-color: #4f9202;
}


/* More-Info CSS STARTS Here */


/* More-Info CSS ENDS Here */


